* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f7ecde;
  font-family: ptsans-caption;
}
hr {
    font-weight: 900;
    border-top: 2px dotted black;
}

header {
  h1{
    color: #352e28;
    font-family: pacifico;
    font-weight: 500;
    font-size: 3.125rem;
    line-height: 3.75rem;
    position: relative;
  }
  h1::before {
    content: "";
    width: 100%;
    height: 25%;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #fec260;
    position: absolute;
    transition: height 500ms;
  }
  h1:hover::before {
        height: 65%;
  }
}
#inputArea {
    h2 {
        font-family: righteous;
        font-size: 1.5625rem;
        line-height: 1.875rem;
        font-weight: 500;
        background: linear-gradient(to right ,#197e35, #e6d814);
        color: transparent;
        background-clip: text;
    }
    #input {
        label {
            font-weight: 600;
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
    }
}
#display {
  span {
    margin: 0.5rem 0;
    font-weight: 700;
  }
  table {
    th,td {
    border-bottom: .0625rem solid rgba(0, 0, 0, 0.223);
    }
    .visitBtn {
      background-color: #9EB23B;
      transition: border 500ms , background-color 500ms;
    }
    .visitBtn:hover {
      border: .0625rem solid black;
      background-color: #8A9E23;
    }
  }

}


#layout {
  background-color: rgba(0, 0, 0, 0.503);
  #errorMessage {
  width: 30%;
  p {
    font-family: fantasy;
    font-size: 1.3125rem;
  }
  ul {
    font-size: 1.125rem;
    li {
      padding: 0.5rem 0.25rem;
    }
  }
}
}